
.ListingImages{
    background: #9b96a0;
    width: 58px;
    height: 56px;
    text-align: center;
    font-size: 37px;
    font-weight: 300;
    cursor: pointer;
  }
  

  .makeStyles-content-10, .makeStyles-content-410{
  padding: 0 !important;
  }
  
  .MuiTableCell-sizeSmall{
    padding: 0 !important;
  }
  .MuiTable-root{
    font-size: xx-small;
  }

  .MuiTableHead-root{
    font-size: xx-small;
  }
  .MuiTableBody-root{
    border: 1px solid red;
  }