<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_89ac6"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BSE-SBIN/" rel="noopener" target="_blank">
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 400,
  "height": 400,
  "symbol": "BSE:SBIN",
  "interval": "15",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "save_image": false,
  "studies": [
    "BB@tv-basicstudies",
    "RSI@tv-basicstudies",
    "Volume@tv-basicstudies",
    "VWAP@tv-basicstudies"
  ],
  "container_id": "tradingview_89ac6"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->

<iframe src="https://kite.zerodha.com/dashboard"> </iframe>

<iframe src="https://tvc4.investing.com/init.php?pair_ID=18376&amp;domain_ID=56&amp;lang_ID=56&amp;timezone_ID=23&amp;refresh=24&amp;session=session&amp;interval=24&amp;client=1&amp;user=0&amp;site=https://in.investing.com" width="800" height="700"></iframe>

<iframe id="tvc_frame_ca647e14ee4429ddb778fb4ac919f2f6" seamless="seamless" src="https://tvc6.investing.com/init.php?family_prefix=tvc6&amp;carrier=1fdc670a7e6d2815d64cd50adbe03e75&amp;time=1631332227&amp;domain_ID=56&amp;lang_ID=56&amp;timezone_ID=23&amp;pair_ID=160&amp;interval=900&amp;refresh=8&amp;session=24x7&amp;client=&amp;user=guest&amp;width=970&amp;height=800&amp;init_page=live-charts&amp;m_pids=&amp;watchlist=160,17940,18376,18367,18425,18224,18217,18198,18405,18470,18428,17950,18017,18377,18177,8849,18075,18010,18187,18311&amp;site=https://in.investing.com" width="970" height="800" style="width: 970px; height: 750px; display: inline;"></iframe>


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/" rel="noopener" target="_blank"><span class="blue-text">Bitcoin and Altcoin Prices</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "title": "Cryptocurrencies",
  "title_raw": "Cryptocurrencies",
  "tabs": [
    {
      "title": "Overview",
      "title_raw": "Overview",
      "symbols": [
        {
          "s": "BITSTAMP:BTCUSD"
        },
        {
          "s": "BITSTAMP:ETHUSD"
        },
        {
          "s": "BITSTAMP:XRPUSD"
        },
        {
          "s": "COINBASE:BCHUSD"
        },
        {
          "s": "COINBASE:LTCUSD"
        },
        {
          "s": "BITFINEX:IOTUSD"
        }
      ],
      "quick_link": {
        "title": "More cryptocurrencies",
        "href": "/markets/cryptocurrencies/prices-all/"
      }
    },
    {
      "title": "Bitcoin",
      "title_raw": "Bitcoin",
      "symbols": [
        {
          "s": "BITSTAMP:BTCUSD"
        },
        {
          "s": "COINBASE:BTCEUR"
        },
        {
          "s": "COINBASE:BTCGBP"
        },
        {
          "s": "BITFLYER:BTCJPY"
        },
        {
          "s": "CEXIO:BTCRUB"
        },
        {
          "s": "CME:BTC1!"
        }
      ],
      "quick_link": {
        "title": "More Bitcoin pairs",
        "href": "/markets/cryptocurrencies/prices-bitcoin/"
      }
    },
    {
      "title": "XRP",
      "title_raw": "XRP",
      "symbols": [
        {
          "s": "BITSTAMP:XRPUSD"
        },
        {
          "s": "KRAKEN:XRPEUR"
        },
        {
          "s": "KORBIT:XRPKRW"
        },
        {
          "s": "BITSO:XRPMXN"
        },
        {
          "s": "BINANCE:XRPBTC"
        },
        {
          "s": "BITTREX:XRPETH"
        }
      ],
      "quick_link": {
        "title": "More XRP pairs",
        "href": "/markets/cryptocurrencies/prices-xrp/"
      }
    },
    {
      "title": "Ethereum",
      "title_raw": "Ethereum",
      "symbols": [
        {
          "s": "COINBASE:ETHUSD"
        },
        {
          "s": "KRAKEN:ETHEUR"
        },
        {
          "s": "KRAKEN:ETHGBP"
        },
        {
          "s": "KRAKEN:ETHJPY"
        },
        {
          "s": "POLONIEX:ETHBTC"
        },
        {
          "s": "KRAKEN:ETHXBT"
        }
      ],
      "quick_link": {
        "title": "More Ethereum pairs",
        "href": "/markets/cryptocurrencies/prices-ethereum/"
      }
    },
    {
      "title": "Bitcoin Cash",
      "title_raw": "Bitcoin Cash",
      "symbols": [
        {
          "s": "COINBASE:BCHUSD"
        },
        {
          "s": "BITSTAMP:BCHEUR"
        },
        {
          "s": "CEXIO:BCHGBP"
        },
        {
          "s": "BITSTAMP:BCHBTC"
        },
        {
          "s": "HITBTC:BCHETH"
        },
        {
          "s": "KRAKEN:BCHXBT"
        }
      ],
      "quick_link": {
        "title": "More Bitcoin Cash pairs",
        "href": "/markets/cryptocurrencies/prices-bitcoin-cash/"
      }
    }
  ],
  "title_link": "/markets/cryptocurrencies/prices-all/",
  "width": 400,
  "height": 660,
  "showChart": true,
  "showFloatingTooltip": false,
  "locale": "en",
  "plotLineColorGrowing": "#2962FF",
  "plotLineColorFalling": "#2962FF",
  "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
  "gridLineColor": "rgba(240, 243, 250, 0)",
  "scaleFontColor": "rgba(120, 123, 134, 1)",
  "showSymbolLogo": true,
  "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
  "colorTheme": "light"
}
  </script>
</div>
<!-- TradingView Widget END -->


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/stocks-india/" rel="noopener" target="_blank"><span class="blue-text">Stock Market Today</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js" async>
  {
  "colorTheme": "light",
  "dateRange": "1D",
  "exchange": "BSE",
  "showChart": true,
  "locale": "en",
  "largeChartUrl": "",
  "isTransparent": false,
  "showSymbolLogo": false,
  "showFloatingTooltip": false,
  "width": "400",
  "height": "600",
  "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
  "plotLineColorFalling": "rgba(41, 98, 255, 1)",
  "gridLineColor": "rgba(42, 46, 57, 0)",
  "scaleFontColor": "rgba(120, 123, 134, 1)",
  "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
  "symbolActiveColor": "rgba(41, 98, 255, 0.12)"
}
  </script>
</div>
<!-- TradingView Widget END -->